
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel {
  width:auto;
  /* height:500px; */
  margin: auto;
}

.carousel-caption h5{
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  color:rgb(255, 255, 255);
}

.carousel-caption p{
  color: rgb(255, 255, 255);
}
.Descriere p{
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.Descriere{
  float: center;
    padding: 160px 25px  84px;
    width: 87%;
}

.beard{
  margin-top:20 ;
}

.scissors{
  float: center;
  padding: 260px 25px  24px;
  width: 87%;
}

.scissors p{
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.titles{
  padding: 35px;
}

.comb{
  rotate: -50deg;
}

.comb-second{
  rotate: 15deg;
}

.servicii{
  background-color: #f5e5d3;
  padding-bottom: 200px;
}

.servicii h2{
  padding-top: 30px;
}

.first-services{
  padding-top: 50px;
  border: 1px solid #bab590 ;
  border-radius: 15px;
  width: 300px;
  height: 394px;
  
}
.first-services:hover{
  background-color: #f0d4b5;
  
}
.tuns{
  padding-top: 40px;
}

.tuns p{
  background: rgb(219, 204, 204);
  width: 200px;
  text-align: center;
}
.tuns p:hover{
  background-color: rgb(224, 134, 23);
}

.homepage{
  text-align: center;
  background-color: #282c34;
}
.react-calendar{
  align-items: center;
}